@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    height: 100vh;
    background: url(img/eagle.png) no-repeat;
    background-size: cover;
    position: relative;
}

.main::before {
    position: absolute;
    content: '';
    background: linear-gradient(to top,rgba(237, 215, 137, 0.9), rgba(233, 130, 131, 0.9));
    height: 100%;
    width: 100%;
    z-index: 1;
}

.header {
    position: absolute;
    z-index: 10;
    display: flex;
    width: 100%;
    padding: 42px 170px 0;
}

.navigation {
    margin-left: auto;
}

.navigation ul {
    display: flex;
    gap: 75px;
    list-style: none;
}

.navigation ul li {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    color: #fff;
    text-transform: uppercase;
}

.navigation ul li:first-of-type {
    color: #F4BF87;
    border-bottom: 1px solid #F4BF87;
    width: 85px;
    text-align: center;
}

.main-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.main-title-cursive  {
    font-family: 'Kaushan Script', sans-serif;
    font-weight: 400;
    font-size: 64px;
    color: #FFFFFF;
    margin-top: 177px;
}

.main-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 144px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 10px 170px;
    text-align: center;
}

.main-line {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 15;
    width: 100%;
    height: 100%;
    padding-top: 320px;
}

.line {
    border-bottom: 4px solid #FFFFFF;
    width: 170px;
}

.button {   
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 25;
    position:absolute;
    width: 100%;
    height: 100%;
    padding-bottom: 200px;
}

.main-button {
    border: 4px solid #FFFFFF;
    position: absolute;
    width: 369px;
    height: 65px;
    color: #FFFFFF;
    background: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
}

.bottom-menu {
    display: flex;
    justify-content: center;
    align-items:flex-end ;
    position: absolute;
    z-index: 30;
    width:100%;
    height:100%;
    gap: 25px;
}

.bottom-line {
    border-top: 4px solid #FFFFFF;
    width: 270px;
    height: 80px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}